@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: whitesmoke;

    user-select: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #111111;
}

::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 20, 60, 0.8);
}

#main-body {
    overflow-y: hidden;
    text-transform: uppercase;
    cursor: none;
}

#error-body {
    overflow-y: hidden;
    text-transform: uppercase;
}

#cursor {
    width: 50px; height: 50px;
    left: 50vw; top: 30vh;
    border: 2px solid gray; border-radius: 50%;
    position: absolute;

    transform: translate(-50%, -50%);
    transition: width, height, border-color;
    transition-duration: 0.5s; transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 100;
}

#cursor.select {
    border-color: crimson;
}

#cursor.hidden {
    visibility: hidden;
    width: 0; height: 0;
}

a {
    cursor: none;
    text-decoration: none;
    transition: 0.5s ease-out;
}

.fade-left {
    opacity: 0 !important;
    transform: translateX(-5vw);
    visibility: hidden;
}

.fade-right {
    opacity: 0 !important;
    transform: translateX(5vw);
    visibility: hidden;
}

.short-fade {
    opacity: 0 !important;
    transform: translateX(-10px);
}

.crimson-text {
    color: crimson;
    font-weight: bold;
}

#background {
    width: 100vw; height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) #111111;
    transform: translateX(-100vw);
    animation: slideIn 0.5s ease-out forwards;
}

#error-background {
    width: 100vw; height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) #111111;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#error {
    position: absolute;
    top: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#error-title {
    font-size: 64px;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 20px;
}

#error-text {
    margin-bottom: 10px;
    font-size: 24px;
}

#error a {
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    display: flex;
    list-style: none;
    transition: 0.5s ease-out;
}

nav li {
     margin: 0 50px;
}

.link {
    padding-bottom: 10px;
    position: relative;

    color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
}

.link.active {
    color: white;
    pointer-events: none;
}

#side-container {
    transition: 0.5s ease-out;
}

.link:hover, #side-container a:hover {
    color: whitesmoke;
}

.link span {
    width: 0; height: 2px;
    bottom: 0; right: 0;
    position: absolute;

    border-radius: 10px;
    background-color: crimson;
    transition: all 0.5s ease-out;
}

.link.active span, .link:hover span {
    width: 50%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

#logo-text {
    color: whitesmoke;
    font-size: 24px;

    position: relative;
    transition: 0.5s ease-out;
}

#side-container {
    height: 100%;
    right: 0; top: 0;
    position: absolute;

    display: flex; flex-direction: column;
    justify-content: center;
}

#side-container ul {
    padding: 0 20px;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#side-container li {
    margin: 20px 0;
}

#side-container a {
    color: darkgray;
    transition: 0.5s ease-out;
    writing-mode: vertical-lr;
}


#home-container, #about-container {
    top: 30vh; left: 10vw;
    position: absolute;
    transition: 0.5s ease-out;
    opacity: 1;
}

#about-main-container {
    border-left: 5px solid crimson;
    padding-left: 20px;
}

.container-title {
    font-size: 32px;
}

#about-me {
    padding-top: 10px;
    width: 300px;
}

#contact {
    padding-top: 20px;
}

#contact a {
    color: lightgray;
}

#contact a:hover {
    color: whitesmoke;
}

#resume {
    padding-top: 10px;
}

#resume a {
    font-size: 24px;
}

#resume a:hover {
    color: whitesmoke;
}

#resume i {
    color: whitesmoke;
    font-size: 24px;
    margin-left: 20px;

    transition: 0.5s ease-out;
}

#greeting, #intro {
    padding-left: 20px;

    font-size: 64px;
    border-left: 5px solid crimson;
    transition: 0.5s ease-out;
}

#about {
    font-size: 24px;
    padding-top: 20px;
}

#link-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-out;
}

#link-container a {
    margin-right: 50px;
    font-size: 40px;
    color: whitesmoke;
}

#link-container a:hover {
    color: crimson;
}

#feature-container {
    position: absolute;
    top: 30vh; left: 70vw;
    display: grid;
    grid-gap: 10px;

    color: whitesmoke;
    transition: 0.5s ease-out;
}

#feature-progress {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#progress-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-block {
    margin: 0 5px 0 5px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 24px; height: 8px;
    transition: all 0.5s ease-out;
}

.progress-block:hover {
    border-color: crimson;
}

.progress-block.active {
    border-color: crimson;
    width: 32px; height: 12px;
}

#feature-container .crimson-text {
    font-size: 24px;
}

.featured-item {
    width: 15vw;
    grid-row: 2; grid-column: 1;

    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.featured-item.active {
    opacity: 1;
    pointer-events: all;
}

.featured-item a {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

.featured-item a:hover {
    color: crimson;
}

.featured-item i {
    color: crimson;
    font-size: 24px;
    margin-left: 20px;

    transition: 0.5s ease-out;
}

.featured-item div {
    padding-top: 10px;
    color: darkgray;
}

#quote-container {
    position: absolute;
    font-size: 20px;
    top: 30vh; left: 70vw;
    width: 15vw;
    color: whitesmoke;
    transition: 0.5s ease-out;
}

#quote-author {
    margin-top: 20px;
    color: crimson;
}


footer {
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    position: absolute;

    color: gray;
    text-align: center;
}

#updated {
    position: absolute;
    right: 30px;
    top: 10px;
}

#policy-title {
    width: 100vw; height: 30vh;
    display: flex;
    justify-content: center; align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) #111111;

    font-size: 32px;
    text-transform: uppercase;
}

#policy {
    padding: 20px 0 10vh 0;
    color: black;
    font-size: 20px;
}

#policy .header {
    font-weight: bold;
    font-size: 24px;
    padding: 30px 0 10px 0;
}

#policy p, #policy ol {
    width: 50%;
    margin: 0 auto;
}

#policy ol {
    padding: 10px 0 0 100px;
}

#policy a {
    text-transform: none;
    text-decoration: underline;

    color: black;
    font-weight: bold;
    cursor: pointer;
}

@keyframes slideIn {
    from {}
    to {
        transform: translateX(0);
    }
}